.Card_style{
    width: 250px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.card_text{
    width: 250px;
    background-color: khaki;
}   
.Card_style img{
    width: 250px;
    border-radius: 20px;
}

.Title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 400px){
    .Card_style{
        display: grid;
    }
    
}
@media (max-width: 800px){
    .Card_style{
        display:grid;
    }
    
}


